@model Schoenenwinkel.Models.ProductModel

@using (Html.BeginForm("Update", "Product"))
{
    @Html.HiddenFor(m => m.ProductID)
    @Html.LabelFor(m => m.Merk)
    @Html.TextBoxFor(m => m.Merk)
    @Html.ValidationMessageFor(m => m.Merk, "", new {@class = "Errormessage" }) <br />


    @Html.LabelFor(m => m.Model)
    @Html.TextBoxFor(m => m.Model)
    @Html.ValidationMessageFor(m => m.Model, "", new {@class = "Errormessage" })<br />

    @Html.LabelFor(m => m.Naam)
    @Html.TextBoxFor(m => m.Naam)<br />

    @Html.LabelFor(m => m.Gewicht)
    @Html.TextBoxFor(m => m.Gewicht)<br />

    @Html.LabelFor(m => m.FotoPath)
    @Html.TextBoxFor(m => m.FotoPath)<br />

    <button type="submit">Update</button>
}
