@model List<Schoenenwinkel.Models.VestigingVoorraadModel>
@{
    ViewBag.Title = "Vestigingen met Voorraad";
}

<br />
<h2>Vestigingen Met voorraad</h2>
<div>
    
        <img src="@ViewBag.FotoInfo" style=" width: 500px; height: 310px; "/>
    
</div>

<table>
    <tr>
        <td>Vestiging</td>
        <td>Locatie</td>
        <td>Product</td>
        <td>Voorraad</td>
        <td>Update voorraad</td>
    </tr>
    
    @foreach(var vestiging in Model)
    {
        <tr>
            <td>@vestiging.Vestiging</td>
            <td>@vestiging.Locatie</td>
            <td>@vestiging.Product</td>
            <td>@vestiging.Voorraad</td>
            <td>@Html.ActionLink("Update voorraad", "UpdateVoorraadVestiging", "Vestiging", new { VestigingID = vestiging.VestigingID, ProductID = ViewBag.ProductInfo, fotoPath = ViewBag.FotoInfo }, null) </td>
        </tr>
    }

</table>