@model Schoenenwinkel.Models.VestigingVoorraadModel
<h2>@Model.Vestiging</h2>


@using (Html.BeginForm("UpdateVoorraadVestiging", "Vestiging"))
{
    @Html.ValidationSummary()
    <br />
    @Html.HiddenFor(m => m.ProductID)
    @Html.HiddenFor(m => m.VestigingID)
    @Html.HiddenFor(m => m.FotoPath)

    @Html.LabelFor(m => m.Vestiging, Model.Vestiging)
    <br />
    @Html.LabelFor(m => m.Voorraad)
    @Html.TextBoxFor(m => m.Voorraad)
    @Html.ValidationMessageFor(m => m.Voorraad)

    <br />
    <button type="submit">Update</button>
}